<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS50 Labs</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body id="container-fluid" class="page">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CS50 Lab Examples</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/#">Home</a>
          </li>
          <li><a href="/unit1">Unit 1</a></li>
          <li>
            <a href="/unit2">Unit 2</a>
          </li>
          <li>
            <a href="/unit3">Unit 3</a>
          </li>
          <li>
            <a href="/unit4">Unit 4</a>
          </li>
          <li>
            <a href="/unit7">Unit 7</a>
          </li>
          <li>
            <a href="/psets">Problem Sets</a>
          </li>
          <li>
            <a href="https://smcdsb.elearningontario.ca/">SMCDSB E-learning</a>
          </li>
          <li>
            <a href="https://getbootstrap.com//">
              To Start HTML Coding: Bootstrap</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron text-center">
      <h1
        style="margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;border: 3px solid green; background-color:Tomato;font-family:Times New Roman"
      >
        CS50 Labs: The Start of Greatness!
      </h1>
      <p>Each lab helps you build up from the last.</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3 style="color:white">The Starting Block</h3>
          <p style="color:white">
            Hello World - The Start of Victory
          </p>
          <a
            href="https://www.thesoftwareguild.com/blog/the-history-of-hello-world/"
            target="_blank"
            >HISTORY OF HELLO WORLD</a
          >
          <script src="https://gist.github.com/JLAPP1/412544bdd19b50abaf10b9b2f0dd91ba.js"></script>
          <p style="color:white">
            This one statement will bring on the set of greatness.
          </p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <h2
        style="margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;border: 3px solid orange; background-color:Lavender;font-family:Times New Roman"
      >
        About Me
      </h2>
      <p style="margin-left: 200px;margin-right: 200px;color:white">
        Hello. My name is Joey and this is my website in which I have detailed
        the progress of my Grade 12 University Computer Science course with my
        teacher, Mr. Michalenko. In this website you will find all of the
        different labs and problems that we have worked on, as well as a brief
        description and link to the source material (if you are granted
        permission.) I go to Our Lady of the Bay Catholic Highschool, previously known as Jean Vanier Catholic Highschool. I have attached a photo below.
      </p>
      <img src="https://p9cdn4static.sharpschool.com/UserFiles/Servers/Server_90926/Image/News/Screen%20Shot%202020-09-09%20at%2010.31.36%20AM.png" alt="Our Lady of the Bay Catholic Highschool">
    </div>
  </body>
</html>
