<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS50 Labs</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body id="container-fluid" class="page">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CS50 Lab Examples</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/#">Home</a>
          </li>
          <li><a href="/unit1">Unit 1</a></li>
          <li>
            <a href="/unit2">Unit 2</a>
          </li>
          <li>
            <a href="/unit3">Unit 3</a>
          </li>
          <li>
            <a href="/unit4">Unit 4</a>
          </li>
          <li>
            <a href="/unit7">Unit 7</a>
          </li>
          <li>
            <a href="/psets">Problem Sets</a>
          </li>
          <li>
            <a href="https://smcdsb.elearningontario.ca/">SMCDSB E-learning</a>
          </li>
          <li>
            <a href="https://getbootstrap.com//">
              To Start HTML Coding: Bootstrap</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron text-center">
      <h1
        style="margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;border: 3px solid black; background-color:Gray;font-family:Times New Roman"
      >
        Problem Sets - Using The Achieved Knowledge
      </h1>
      <p>It may be difficult, but is it ever gratifying.</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3 style="color:white">Mario</h3>
          <p style="color:white">
            Mario - Jumping to the Hashes
          </p>
          <a
            href="https://cs50.harvard.edu/x/2020/psets/1/mario/less/"
            target="_blank"
            >MARIO</a
          >
          <script src="https://gist.github.com/JLAPP1/27e71346d6cf26270c5be89522a79fd2.js"></script>
          <p style="color:white">
            In this problem set, a user asked integer was used to determine the
            height of a stack of hashes. It then decreased until there was only
            1 hash on the line.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 style="color:white">Filter</h3>
          <p style="color:white">
            Filter - Gray, Old, Upside Down
          </p>
          <a
            href="https://cs50.harvard.edu/x/2020/psets/4/filter/less/"
            target="_blank"
            >FILTER</a
          >
<script src="https://gist.github.com/JLAPP1/9ca363a12061238e91387df665bfa17f.js"></script>
          <p style="color:white">
          In this problem set different images where changed and modified in order to apply different effects.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 style="color:white">Runoff</h3>
          <p style="color:white">
            Runoff - Making the Election Voters Count
          </p>
          <a
            href="https://cs50.harvard.edu/x/2020/psets/3/runoff/"
            target="_blank"
            >RUNOFF</a
          >
          <script src="https://gist.github.com/JLAPP1/6baf3e5bc568c69fb474c9d27d7460fe.js"></script>
          <p style="color:white">
            In this problem set, a runoff election was created using the code left behind and also by creating more code. It required user inputs and using different functions in order to create the proper print statements.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 style="color:white">Caesar</h3>
          <p style="color:white">
            Caesar - Code is Important for Safety
          </p>
          <a
            href="https://cs50.harvard.edu/x/2020/psets/2/caesar/"
            target="_blank"
            >CAESAR</a
          >
         <script src="https://gist.github.com/JLAPP1/f2a4bb69c993073ae9c5f9bafd7f450c.js"></script>
          <p style="color:white">
          In this problem set, a message was coded into ASCII language from our normal language.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
