<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS50 Labs</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body id="container-fluid" class="page">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CS50 Lab Examples</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/#">Home</a>
          </li>
          <li><a href="/unit1">Unit 1</a></li>
          <li>
            <a href="/unit2">Unit 2</a>
          </li>
          <li>
            <a href="/unit3">Unit 3</a>
          </li>
          <li class="active">
            <a href="/unit4">Unit 4</a>
            <li>
            <a href="/unit7">Unit 7</a>
          </li>
          <li>
            <a href="/psets">Problem Sets</a>
          </li>
          </li>
          <li>
            <a href="https://smcdsb.elearningontario.ca/">SMCDSB E-learning</a>
          </li>
          <li>
            <a href="https://getbootstrap.com//">
              To Start HTML Coding: Bootstrap</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron text-center">
      <h1
        style="margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;border: 3px solid black; background-color:BurlyWood;font-family:Times New Roman"
      >
        Unit 3: Algorithms
      </h1>
      <p>
        In Unit 3, different algorithms were discussed and used in applications
        of C.
      </p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3 style="color:white">Linear Search</h3>
          <p style="color:white">
            Linear Search - Moving One by One
          </p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/linearsearch/"
            target="_blank"
            >LINEAR SEARCH LINK</a
          >
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/linearsearch/"
            target="_blank"
          ></a>
          <script src="https://gist.github.com/JLAPP1/ad0e67b6af2e3ec58584e4c287c32c87.js"></script>
          <p style="color:white">
            Linear search is used to find an element in a list. It is the most
            basic sorting algorithm, which means it will also take the most
            amount of time.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h3 style="color:white">Bubble Sort</h3>
          <p style="color:white">
            Bubbling Up to the Top
          </p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/bubblesort/"
            target="_blank"
            >BUBBLESORT LINK</a
          >

          <script src="https://gist.github.com/JLAPP1/26d3f6dc8cdeb5db56b7d7312409a217.js"></script>
          <p style="color:white">
            Bubblesort is a searching algorithm that can be used to sort
            everything in order. If a number is less than the next number, it
            will swap positions until it is less than the other. It repeats
            until the process cannot happen anymore.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 style="color:white">Selection Sort</h3>
          <p style="color:white">
            Swap, swap, swap
          </p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/selectionsort/"
            target="_blank"
            >SELECTION SORT LINK</a
          >

          <script src="https://gist.github.com/JLAPP1/6ed38578688431110385e2c310d770f3.js"></script>
          <p style="color:white">
            Selection sort looks at a element in a list and compares it to the
            lowest number in the list. If it is behind that number, it swaps and
            changes places. This swapping repeats until it cannot be swapped
            anymore.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 style="color:white">Insertion Sort</h3>
          <p style="color:white"></p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/insertionsort/"
            target="_blank"
            >INSERTION SORT LINK</a
          >
          <script src="https://gist.github.com/JLAPP1/d9d47081d87b53f5751dc591a1c1a305.js"></script>
          <p style="color:white">
            Insertion sort splits up the elements into a seperated and
            unseperated array. It compares the unseperated array with seperated
            array and switches it until it is the further most in the array.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 style="color:white">Binary Search</h3>
          <p style="color:white"></p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/binarysearch/"
            target="_blank"
            >BINARY SEARCH LINK</a
          >
          <script src="https://gist.github.com/JLAPP1/d6d6c5f6d7dddba7cfedbbab4f05aaa1.js"></script>
          <p style="color:white">
            In binary search, you divide your search of elements in half. Each
            time if the element cannot be found, you divide the space in half
            and repeat until the element is found or sorted.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 style="color:white">
            Models and Simulations - Modelling a Real-Life Application
          </h3>
          <p style="color:white"></p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/simulations/"
            target="_blank"
            >MODELS AND SIMULATIONS</a
          >
          <script src="https://gist.github.com/JLAPP1/170ae4bad63cf7d6857090b21163fab9.js"></script>
          <p style="color:white">
            Models and simulations as a lab model real life applications. We get
            to see how the problem will work in real life.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
