<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unit 1 Labs</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body id="container-fluid" class="page">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CS50 Lab Examples</a>
        </div>
        <ul class="nav navbar-nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="active"><a href="#">Unit 1</a></li>
          <li>
            <a href="/unit2">Unit 2</a>
          </li>
          <li>
            <a href="/unit3">Unit 3</a>
          </li>
          <li>
            <a href="/unit4">Unit 4</a>
          </li>
          <li>
            <a href="/unit7">Unit 7</a>
          </li>
          <li>
            <a href="/psets">Problem Sets</a>
          </li>
          <li>
            <a href="https://smcdsb.elearningontario.ca/">SMCDSB E-learning</a>
          </li>
          <li>
            <a href="https://getbootstrap.com/"
              >To Start HTML Coding: Bootstrap</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron text-center">
      <h1
        style="margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;border: 3px solid black; background-color:BlanchedAlmond;font-family:Times New Roman"
      >
        Unit 1: C
      </h1>
      <p>
        In this unit the fundamentals of C were taught using the different labs.
      </p>
    </div>

    <div class="container pt-10">
      <div class="row">
        <div class="col-sm-4">
          <h3 style="color:white">Syntax</h3>
          <p style="color:white">
            Syntax - Learning the Fundamentals
          </p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/syntax/"
            target="_blank"
            >SYNTAX LINK</a
          >
          <script src="https://gist.github.com/JLAPP1/84a388b22ff5b0144e71c52f713c8700.js"></script>
          <p style="color:white">
            All though very basic, syntax is the fundamental writing skills in
            coding. We learn how to properly space and indent code, which has an
            affect on how the code is read.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 style="color:white">Variables</h3>
          <p style="color:white">
            Variables - Learning how to Define
          </p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/variables/"
            target="_blank"
            >VARIABLES LINK</a
          >
          <script src="https://gist.github.com/JLAPP1/a6bb75edfb610c3b3471fa62ab46bf1e.js"></script>
          <body style="background-color:orange;"></body>
          <p style="color:white">
            Variables are important because they are used for many different
            purposes in data structures. There are also different variables that
            are used in different situations, such as a string variable which
            holds a collection of characters and an integer variable which holds
            a whole number.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 style="color:white">Data Types</h3>
          <p style="color:white">
            Data Types - Different Types of Variables
          </p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/datatypes/"
            target="_blank"
            >DATA TYPES LINK</a
          >
          <script src="https://gist.github.com/JLAPP1/19d93b51fd8c7f5e7664a3530023d884.js"></script>
          <p style="color:white">
            Like how I said in the variables section, data types are the
            specific type of variables that need to be used. There are many
            different data types that have their different purposes because of
            the goal of the program. When coding, it is important to understand
            what data type should be used for what situation.
          </p>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3 style="color:white">Magic Numbers</h3>
              <p style="color:white">
                Magic Numbers - Hardcoded Defined Numbers
              </p>
              <a
                href="https://lab.cs50.io/jmichalenko/cs50labs/2020/magic/"
                target="_blank"
                >MAGIC NUMBERS LINK</a
              >
              <script src="https://gist.github.com/JLAPP1/0da39521444335d89544b830d164eab7.js"></script>
              <p style="color:white">
                Magic numbers are useful if a number is easily to be explained
                if defined previously. For example, if there was a calculator
                calculating the number of days you are old using your age, then
                a magic number defined as = 365.25 could be used to make more
                sense than just 365.25.
              </p>
            </div>
            <div class="col-sm-4">
              <h3 style="color:white">Printf Placeholders</h3>
              <p style="color:white">
                Printf Placeholders - Using a dependant Variable
              </p>
              <a
                href="https://lab.cs50.io/jmichalenko/cs50labs/2020/placeholders/"
                target="_blank"
                >Printf Placeholders</a
              >
              <script src="https://gist.github.com/JLAPP1/9ec14a54926e56f2f599b7d521157018.js"></script>
              <p style="color:white">
                When we print something pre-determined, it comes out exactly as
                we want it to print. There are cases in which the person may
                need to access the response of however is using the program.
                This is where printf placeholders come into play. They act as
                the statement that we would normally put in the printf
                statement.
              </p>
            </div>
            <div class="col-sm-4">
              <h3 style="color:white">Operators</h3>
              <p style="color:white">
                Operators - Using Different Orders of Operation
              </p>
              <a
                href="https://lab.cs50.io/jmichalenko/cs50labs/2020/operators/"
                target="_blank"
                >OPERATORS LINK</a
              >
              <script src="https://gist.github.com/JLAPP1/e565bd9953091cd59d3db38109dea947.js"></script>
              <p style="color:white">
                An operator is as important in programming as it is in other
                fields. It speeds up the process and allows up to create new
                programs/data structures.
              </p>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-sm-4">
                  <h3 style="color:white">
                    Boolean Expressions and Conditions
                  </h3>
                  <p style="color:white">
                    Boolean Expressions - Yes or No, True or False
                  </p>
                  <a
                    href="https://lab.cs50.io/jmichalenko/cs50labs/2020/booleans/"
                    target="_blank"
                    >BOOLEAN EXPRESSIONS LINK</a
                  >
                  <script src="https://gist.github.com/JLAPP1/6b90b90011e181b2c675339a500087f5.js"></script>
                  <p style="color:white">
                    Booleans are important if you only need a two choice answer.
                    If the question is one or another answer, then booleans are
                    perfect to use as a data type. You would not want to use a
                    integer to hold a YES or NO response simply because it is
                    the wrong data type.
                  </p>
                </div>
                <div class="col-sm-4">
                  <h3 style="color:white">While Loops</h3>
                  <p style="color:white">
                    While Loops - While [blank] is True...
                  </p>
                  <a
                    href="https://lab.cs50.io/jmichalenko/cs50labs/2020/whileloop/"
                    target="_blank"
                    >WHILE LOOPS LINK</a
                  >
                  <script src="https://gist.github.com/JLAPP1/9b12baafb64ffd4fe8dff348abb6b7cf.js"></script>
                  <p style="color:white">
                    While loops can be used in conjugation with an expression
                    that asks if something is true or not. So, while something
                    is true, run the code inside of the loop. This repeats until
                    the condition is false.
                  </p>
                </div>
                <div class="col-sm-4">
                  <h3 style="color:white">Do While Loops</h3>
                  <p style="color:white">
                    Do While Loops - Do It At Least Once
                  </p>
                  <a
                    href="https://lab.cs50.io/jmichalenko/cs50labs/2020/dowhileloop/"
                    target="_blank"
                    >DO WHILE LOOP LINK</a
                  >
                  <script src="https://gist.github.com/JLAPP1/a187c2f0f572590d86440fc5cc8dfbe0.js"></script>
                  <p style="color:white">
                    The use of a do while loop versus only a while loop is that
                    a do while loop can run an event once before the while loop
                    while the while loop condition is preposed instantly.
                  </p>
                </div>
                <div class="col-sm-4">
                  <h3 style="color:white">For Loops</h3>
                  <p style="color:white">
                    For Loop - Looping Within a Certain Range
                  </p>
                  <a
                    href="https://lab.cs50.io/jmichalenko/cs50labs/2020/forloop/"
                    target="_blank"
                    >FOR LOOP</a
                  >
                  <script src="https://gist.github.com/JLAPP1/43a8459e146d92e5fad87bd9ec38579a.js"></script>
                  <p style="color:white">
                    The use of a for loop is to iterate through a certain
                    parameters as defined in the for loop. A counter is created
                    and every time that the loop runs, the counter increments
                    until the counter is greater than the parameter. This is
                    used to allocoate a certain amount of repetitions of code.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
