<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unit 2 Labs</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body id="container-fluid" class="page">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CS50 Lab Examples</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/#">Home</a>
          </li>
          <li><a href="/unit1">Unit 1</a></li>
          <li class="active">
            <a href="/unit2">Unit 2</a>
          </li>
          <li>
            <a href="/unit3">Unit 3</a>
          </li>
          <li>
            <a href="/unit4">Unit 4</a>
            <li>
            <a href="/unit7">Unit 7</a>
          </li>
          <li>
            <a href="/psets">Problem Sets</a>
          </li>
          </li>

          <li>
            <a href="https://smcdsb.elearningontario.ca/">SMCDSB E-learning</a>
          </li>
          <li>
            <a href="https://getbootstrap.com//">
              To Start HTML Coding: Bootstrap</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron text-center">
      <h1
        style="margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;border: 3px solid black; background-color:LightGrey;font-family:Times New Roman"
      >
        Unit 2: Arrays
      </h1>
      <p>
        In this unit arrays were discussed and used in different applications.
      </p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3 style="color:white">Type Casting</h3>
          <p style="color:white">
            Type Casting - Making one Data Type Another Type
          </p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/typecasting/"
            target="_blank"
            >TYPE CASTING LINK</a
          >
          <script src="https://gist.github.com/JLAPP1/ed45561eed55b483f64ad2ebc3f5f43a.js"></script>
          <p style="color:white">
            In this lab, we learned about typecasting. Typecasting is when you
            convert one variable by assigning it to another and changing its
            variable type.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 style="color:white">Arrays</h3>
          <p style="color:white">
            Arrays - A Collection of Values
          </p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/arrays/"
            target="_blank"
            >ARRAYS LINK</a
          >
          <script src="https://gist.github.com/JLAPP1/e0bcf4a8afc806eca7b7a925fbc2a949.js"></script>
          <body style="background-color:orange;"></body>
          <p style="color:white">
            Arrays are a collection of values. For example, you could store five
            values into an array instead of making 5 different variables/values.
            In this lab code, we optimized the code to use a forloop for as many
            days as there were and then the days + their hours.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 style="color:white">Exit Codes</h3>
          <p style="color:white">
            Exit Codes - Successful or Not?
          </p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/exitcodes/"
            target="_blank"
            >EXITCODES</a
          >
          <script src="https://gist.github.com/JLAPP1/759bd1f62771f26b854e0e1d8e7cb153.js"></script>
          <p style="color:white">
            A different way to check something is through the exit codes. If an
            exit code is 0, then the code works. If it is not, then it does not
            work. It is useful for working the code through the terminal.
          </p>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3 style="color:white">Command Line Interaction</h3>
              <p style="color:white">
                Command Line Interaction - Using the Terminal
              </p>
              <a
                href="https://lab.cs50.io/jmichalenko/cs50labs/2020/commandline/"
                target="_blank"
                >TYPE CASTING LINK</a
              >
              <script src="https://gist.github.com/JLAPP1/1da453911169783b7fe3c0a496451764.js"></script>
              <p style="color:white">
                In this lab, we learned about typecasting. Typecasting is when
                you convert one variable by assigning it to another and changing
                its variable type.
              </p>
            </div>
            <div class="col-sm-4">
              <h3 style="color:white">Functions</h3>
              <p style="color:white">
                Functions - Making Life a Little Easier
              </p>
              <a
                href="https://lab.cs50.io/jmichalenko/cs50labs/2020/functions/"
                target="_blank"
                >FUNCTIONS LINK</a
              >
              <script src="https://gist.github.com/JLAPP1/52494b45fbc2c7b2b087a646380c16bc.js"></script>
              <p style="color:white">
                In this lab, functions were taught and discussed. Something as
                simple as printf in C is a function that was created by someone
                many years ago. We use functions so that we do not have to
                constantly re-do simple tasks like printf.
              </p>
            </div>
            <div class="col-sm-4">
              <h3 style="color:white">Bugs and Debugging</h3>
              <p style="color:white">
                Bugs and Debugging - Debugging a Source of Code
              </p>
              <a
                href="https://lab.cs50.io/jmichalenko/cs50labs/2020/debugging/"
                target="_blank"
                >BUGS AND DEBUGGING LINK</a
              >
              <script src="https://gist.github.com/JLAPP1/eefc8149c52061ddc88b6a5647167ac1.js"></script>
              <p style="color:white">
                Although this gist is already solved, when using code it is very
                important to be able to understand what is written and more
                importantly, what is happening. There is going to be syntax
                errors, but there will also be logical errors in which you will
                have to go and check to see where the code does not work
                properly.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
