<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS50 Labs</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body id="container-fluid" class="page">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CS50 Lab Examples</a>
        </div>
        <ul class="nav navbar-nav">
          <li>
            <a href="/#">Home</a>
          </li>
          <li><a href="/unit1">Unit 1</a></li>
          <li>
            <a href="/unit2">Unit 2</a>
          </li>
          <li>
            <a href="/unit3">Unit 3</a>
          </li>
          <li class="active">
            <a href="/unit4">Unit 4</a>
            <li>
            <a href="/unit7">Unit 7</a>
          </li>
          <li>
            <a href="/psets">Problem Sets</a>
          </li>
          </li>
          <li>
            <a href="https://smcdsb.elearningontario.ca/">SMCDSB E-learning</a>
          </li>
          <li>
            <a href="https://getbootstrap.com//">
              To Start HTML Coding: Bootstrap</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron text-center">
      <h1
        style="margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;border: 3px solid black; background-color:DarkGoldenRod;font-family:Times New Roman"
      >
        Unit 4: Memory
      </h1>
      <p>
        In this unit, the allocation of memory in C was discussed and used in
        different problems.
      </p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3 style="color:white">Structures and Encapsulation</h3>
          <p style="color:white">
            Structures and Encapsulations - Having more than One Element
          </p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/structs/"
            target="_blank"
            >STRUCTURES AND ENCAPSULATIONS LINK</a
          >
          <script src="https://gist.github.com/JLAPP1/144b0bd75a86e87ccb5bce89d0118240.js"></script>
          <p style="color:white">
            A struct is a element that contains data that has different data
            types inside a single variable. A structure is great for containing
            more information to use in a function.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 style="color:white">Recursion</h3>
          <p style="color:white">
            Recursion - Repeat, repeat, repeat until done
          </p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/recursion/"
            target="_blank"
            >RECURSION LINK</a
          >
          <script src="https://gist.github.com/JLAPP1/028f0fef5629b68abd20c49136450afd.js"></script>
          <p style="color:white">
            Recursion is when a function calls itself until a base case is
            reached. A base case is a case in which the program is ordered to
            stop at.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 style="color:white">Mergesort</h3>
          <p style="color:white">
            Mergesort - split, split, split
          </p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/mergesort/"
            target="_blank"
            >MERGESORT LINK</a
          >
          <script src="https://gist.github.com/JLAPP1/67fca540975f329e2738f3dcdf9ca866.js"></script>
          <p style="color:white">
            Mergesort, at its' core, seperates an array into two seperate arrays
            and sorts them. It then brings then back sorted to the original
            array and merges them.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 style="color:white">Hexadecimal</h3>
          <p style="color:white">
            Hexadecimal - Using Numbers in a Different Way
          </p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/hexadecimal/"
            target="_blank"
            >HEXADECIMAL LINK</a
          >
          <script src="https://gist.github.com/JLAPP1/636a4df82dbc4589a8957ef8a21a6d39.js"></script>
          <p style="color:white">
            Hexadecimal is used by computers for different purposes, but a
            popular use is for colours on a webpage. The colours are displayed
            using hexadecimal because of how large hexadecimal gets.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 style="color:white">File Input Output</h3>
          <p style="color:white">
            File Input Output - Using the Terminal
          </p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/fileio/"
            target="_blank"
            >FILE INPUT OUTPUT LINK</a
          >
          <script src="https://gist.github.com/JLAPP1/636a4df82dbc4589a8957ef8a21a6d39.js"></script>
          <p style="color:white">
            File input output is a lab that talks about using the terminal in a
            different way to achieve a task. For example, if you are asked to
            enter 3 arguments and you entered 4, the program would know based on
            your input that an output cannot be achieved.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 style="color:white">File Input Output</h3>
          <p style="color:white">
            Images - What we See
          </p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/images/"
            target="_blank"
            >IMAGES LINK</a
          >
          <script src="https://gist.github.com/JLAPP1/9ad18452e3079f907a45f15e84b4fa43.js"></script>
          <p style="color:white">
            Images are made of pixels, specifically red, green, blue pixels.
            They are important in making up what we see in websites and anything
            to do with computers. In this lab, we switched around the colours of
            the pixels.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 style="color:white">Pointers and Memory Allocation</h3>
          <p style="color:white">
            Pointers/Memory - Storing Information
          </p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/pointers/"
            target="_blank"
            >POINTERS/MEMORY ALLOCATION LINK</a
          >
          <script src="https://gist.github.com/JLAPP1/e66aceb04b2e69384413e1f612d67d75.js"></script>
          <p style="color:white">
            Pointers are known as the addresses of variables. When a pointer of
            int n = 10 is printed using printf(n), we know print the
            address/value of n, or in this case, 10. Pointers are powerful tools
            that can be used in conjunction with memory.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 style="color:white">Memory and Functions</h3>
          <p style="color:white">
            Memory/Functions - Storing Information... In a Different Way
          </p>
          <a
            href="https://lab.cs50.io/jmichalenko/cs50labs/2020/memory/"
            target="_blank"
            >MEMORY/FUNCTIONS LINK</a
          >
          <script src="https://gist.github.com/JLAPP1/4ffe7101def3ab8db32dc95e768906bb.js"></script>
          <p style="color:white">
            Memory is the storage of some sort of information. Information is
            given in different ways to a computer, such as machine code to the
            code that you write. It is important to understand how a different
            programming language understands different memories.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
